CONNECTED_APP_NAME = YOUR_CONNECTED_APP_NAME
CONSUMER_KEY = YOUR_CONSUMER_KEY
CONSUMER_SECRET = YOUR_CONSUMER_SECRET
CALLBACK_URL = YOUR_CALLBACK_URL
BASE_URL = YOUR_BASE_URL
INSTANCE_URL = YOUR_INSTANCE_URL
COMMUNITY_URL = YOUR_COMMUNITY_URL