[submodule "GamificationMobileSDK-Android"]
	path = GamificationMobileSDK-Android
	url = git@github.com:salesforce-misc/GamificationMobileSDK-Android.git
	branch = master
[submodule "ReferralMobileSDK-Android"]
	path = ReferralMobileSDK-Android
	url = git@github.com:salesforce-misc/ReferralMobileSDK-Android.git
	branch = master